
.sectionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.sectionTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}
.cardContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardImage{
    border-radius: 50%;
}

.cardNumber{
    width: 96px;
    height: 96px;
    background: #FCB72B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 48px;
    left: 72px;
    margin-bottom: 16px;
}
.cardNumber p {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    text-align: center;
    letter-spacing: -1.07143px;
    color: #495567; 
    margin: auto;
}

.textConatiner h3{
    width: 311px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */

    text-align: center;
    letter-spacing: -1.07143px;

    color: #495567;
}
.textConatiner p{
    width: 311px;
    text-align: center;
    margin-bottom: 56px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: center;

    color: #939CAA;
}
@media only screen and (min-width:767px) {
    .sectionTitle{
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
        color: #495567;
        overflow: visible;
        margin-bottom: 105px;
    }
    .textConatiner h3{
        width: 457px;
        text-align: center;
        margin-bottom: 27px;
    }
    .textConatiner p{
        width: 457px;
        text-align: center;
        margin-bottom: 56px;
    }
    .cardNumber{
        margin-bottom: 55px;
    }
}

@media only screen and (min-width:1199px) {
    .cardContainer{
        width:350px
    }

    .sectionContainer{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .textConatiner h3, .textConatiner p{
        width: 350px;
    } 
}