.AccordionArticle{
  display: flex;
  flex-direction: column;
  align-items: center;
 

}
.AccordionArticle h3{
  margin-top: 48px;
} 

.AccordionArticle h3{
  margin-bottom: 32px;
}
.accordion-item-body{
  max-height: 200;
  overflow: hidden;
  transition: max-height 1.2s ease-out;
}
/*      */
  @media only screen and (min-width: 767px) {



  }  
  @media only screen and (min-width: 1199px) {
      .AccordionArticle{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
      }
      .AccordionArticle h3{
          align-self: flex-start;
      }
  }



.AccordionArticle{

    display: flex;
    justify-content: space-evenly;
}
.AccordionArticle h3 {
  
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */

  text-align: center;
  letter-spacing: -1.07143px;

  color: #495567;
}
.accordion {
    display: block;
    max-width: 500px;
    width: 311px;
    border: none;
    border-radius: 0px;
    
  }
  
  .accordion-item {
    display: block;
    border: solid 1px #ccc;
    background: #F2F5F9;
    margin-bottom: 16px;
    border: none;
    border-radius: 0px;
  }
  
  /* .accordion-item + .accordion-item {
    border-top: none;
  } */
  
  .accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    letter-spacing: -0.803571px;
    color: #495567;
  }
  
  .accordion-item-description {
    font-size: 0.85em;
    color: #999;
  }
  
  .accordion-item-header,
  .accordion-item-body {
    padding: 24px;

  }
  .accordion-item-body{
    padding-top: 0px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  
  .accordion-item-header:hover {
    cursor: pointer;
    /* background-color: #eee; */
  }
  
  /* .accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  } */
  
  /* .accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  } */

  .accordion-item-header img{
    width: 16px;
    height: 8px;
  }
  .flipped{
    transform: matrix(1, 0, 0, -1, 0, 0);
  }




@media only screen and (min-width: 767px) {
    .AccordionArticle h3{
      font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */

    text-align: center;
    letter-spacing: -1.78571px;

    color: #495567;
      margin-top: 48px;
    } 
    .accordion {
        max-width: 900px;
        width: 689px;
      }
      .accordion-item {
        margin-bottom: 24px;
      }
      .accordion-item-header {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
      }
      .accordion-item-body{
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #495567;
      }   
}  

@media only screen and (min-width: 1199px) {
  .AccordionArticle{
    margin-bottom: 32px;
  }
  .AccordionArticle h3{
    margin-top: 0px;
  }
  .accordion-item:hover{
    background: #FFF4DF;
  }
}