
h2{
    display: flex;
    justify-content: center;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: -1.42857px;

    color: #495567;

}
section{
    margin-bottom: 120px;
}

@media only screen and (min-width: 767px) {



}  
@media only screen and (min-width: 1199px) {
    h2{
        margin-bottom: 64px;
    }

}
