<app-nav></app-nav>
<section class="componentSection">
  <article class="headerSection">
    <h1>Scooter sharing made simple</h1>

    <p>Scoot takes the hassle out of urban mobility. Our bikes are placed in
    convenient locations in each of our cities. Use our app to locate the
    nearest bike, unlock it with a tap, and you’re away!</p>

    <button>Get Scootin</button>
    <img src="../../../assets/patterns/right-arrow.svg" alt="" />
  </article>

  <img src="../../../assets/icons/locate.svg" alt="" />
  <h4>Locate with app</h4>

 <p>Use the app to find the nearest scooter to you. We are continuously placing
  scooters in the areas with most demand, so one should never be too far away.</p>

  <img src="../../../assets/icons/scooter.svg" alt="" />
  <h4>Pick your scooter</h4>

  <p>We show the most important info for the scooters closest to you. So you know
  how much charge they have left and can see roughly how much it will cost.</p>

  <img src="../../../assets/icons/ride.svg" alt="" />
  <h4>Enjoy the ride</h4>

  Scan the QR code and the bike will unlock. Retract the cable lock, put on a
  helmet, and you’re off! Always lock bikes away from walkways and accessibility
  ramps.

  <div>
    <img src="../../../assets/images/telemetry.jpg" alt="" />
    <img src="../../../assets/patterns/left-downward-arrow.svg" alt="" />
  </div>

  <h3>Easy to use riding telemetry</h3>

  The Scoot app is available with riding telemetry. This means it can show you
  your average speed, how long you've been using the scooter, your traveling
  distance, and many more things all in an easy to use app.

  <button>Learn More</button>

  <div>
    <img src="../../../assets/images/near-you.jpg" alt="" />
    <img src="../../../assets/patterns/right-arrow.svg" alt="" />
  </div>
  <h3>Coming to a city near you</h3>

  Scoot is available in 4 major cities so far. We’re expanding rapidly, so be
  sure to let us know if you want to see us in your hometown. We’re aiming to
  let our scooters loose on 23 cities over the coming year.

  <button>Learn More</button>

  <div>
    <img src="../../../assets/images/payments.jpg" alt="" />
    <img src="../../../assets/patterns/left-downward-arrow.svg" alt="" />
  </div>
  <h3>Zero hassle payments</h3>

  Our payment is as easy as one two three. We accept most credit cards and debit
  cards. You can also link your PayPal account inside the app. Need to pay
  later? No worries! You can defer payment for up to a month.

  <button>Learn More</button>
</section>
<app-footer></app-footer>