
<app-nav></app-nav>
<app-header headerText="Locations"></app-header>
<section class="componentSection" >

  
<!-- component -->
    Locations
<!-- component end-->

<!-- component -->
map

  New York
  London
  Yokohama
  Jakarta
<!-- component end-->


<!-- component -->
  Your city not listed?

  If you’d like to see Scoot in your hometown, be sure to let us know. We track 
  requests and plan launches based on demand. Feel free to message us by clicking 
  the link or messaging us on social.

  Message Us
  <!-- component end-->
</section>
<app-footer></app-footer>