<app-nav></app-nav>
<app-header headerText="Careers"></app-header>
<section class="componentSection">

<section class="sectionConatiner">
  <Article class="blurbCard">
    <div class="imagesContainer">
    <img class="largeGreyCircle" src="../../../../assets/patterns/circle.svg" alt="">
    <img class="cardImage" src="../../../assets/images/join-us.jpg" alt="" />
    </div>
    <img class="arrow" src="../../../../assets/patterns/left-downward-arrow.svg" alt="" />
    <div class="blurbTextContainer" >
      <h3>Care to join our mission?</h3>
      <p>We’re always looking for ambitious individuals to help us on our journey. If you’re 
        passionate about our mission to provide clean, accessible transport to improve urban 
        living we want to hear from you!</p>
      <button>Say Hello</button>
    </div>
  </Article>

  <app-why-join-us sectionTitle="Why join us?"></app-why-join-us>
  <app-job-openings></app-job-openings>
</section>


</section>
<app-footer></app-footer>