
 /* @media only screen and (min-width: 767px) {
    section{
        margin:0;
    }
}  */
.componentSection{
    margin-top: 72px;
}

.blurbCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.largeGreyCircle{
    display: none;
}

.cardImage{
    border-radius: 50%;
    width: 311px;
    margin-bottom: 56px;
}

.arrow{
    position: absolute;
    left: 38px;
    top: 164px;
    overflow: hidden;
}

.blurbTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blurbTextContainer h3{
    width: 311px;
    height: 64px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    color: #495567;
    margin-bottom: 32px;
}
.blurbTextContainer p{
    width: 311px;
    height: 150px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
    margin-bottom: 32px;
}
.blurbTextContainer button{
    width: 180px;
    height: 53px;
    background: #FCB72B;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 134px;
    border: none;
}

.blurbTextContainer button:hover{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FCB72B;
    background-color: #FFFFFF;
    border: 3px solid #FCB72B;
}

@media only screen and (min-width: 767px) {

.sectionConatiner{
    margin-top: 144px;
    position: relative;
}
.blurbCard{
    flex-direction: column;
    justify-content: space-around;
}

.largeGreyCircle{
    display: block;
    height: 445px;
    width: 445px;
    position: absolute;
    right: -340px;
}
.cardImage{
    height: 445px;
    width: 445px;
    margin-bottom: 56px;
}
.arrow{
    top: 255px;
    width: 1037px;
    position: absolute;
    left: 20%;
    overflow: hidden;
}

    .blurbTextContainer h3{
        width: 457px;
        height: 96px;

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        /* or 100% */
        
        text-align: center;
        letter-spacing: -2.14286px;
        
        color: #495567;
    }
    .blurbTextContainer p{
        width: 573px;
        height: 75px;
        margin-bottom: 40px;
    }
}
@media only screen and (min-width: 1200px) {
    .sectionConatiner{
        margin-top: 120px;

    }
    .blurbCard{
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .arrow{
        top: 257px;
        width: 59%;
        left: 54%;
    }
    .largeGreyCircle{
        right: -380px;
    }
    .cardImage{
        margin-bottom: 120px;
    }
}