<section class="sectionConatiner">
  <section *ngFor="let blurb of blurbData let i = index" >
    <Article [class]="'blurbCard'+(i)">
      <div class="imagesContainer">
      <img [class]="'largeGreyCircle'+(i)" src="../../../../assets/patterns/circle.svg" alt="">
      <img [class]="'cardImage'+(i)" src={{blurb.imgSrc}} alt="" />
      </div>
      <img [class]="'arrow'+(i)" src={{blurb.arrowSrc}} alt="" />
      <div class="blurbTextContainer" >
        <h3>{{blurb.cardTitle}}</h3>
        <p>{{blurb.cardText}}</p>
        <button>Learn More</button>
      </div>
    </Article>
  </section>
</section>