.sectionConatiner{
    background-color: #FFF;
    margin-top: 120px;
}
app-small-blurbs, app-large-blurbs, app-footer{
    overflow: hidden;
}

.blurbCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px ;
}

.blurbCard img{
    height: 56px;
    width: 56px;
    margin-bottom: 24px;
}

.blurbCard h4{
    width: 83%;
    height: 28px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    text-align: center;
    letter-spacing: -0.892857px;

    color: #495567;
    margin-bottom: 24px;
}   

.blurbCard p{
    width: 83%;
    height: 100px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: center;

    color: #939CAA;
}

.blurbTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 767px) {
    .sectionConatiner{
        background-color: #FFF;
        margin-top: 0;
        position: relative;
        
    }
    .headerSection{
        overflow: hidden;
    }

    .moreContainerPlease{
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-top: 122px;
    }

    .blurbCard{
        flex-direction: row;
        align-items: flex-start;
        text-align: left;  
        position: relative;
        left: 96px;
        /* top: 122px; */
    }

    .blurbCard img{
        position: relative;
        height: 96px;
        width: 96px;
        z-index: 3; 
    }


    .blurbTextContainer{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 398px;
        margin-left: 79px;
        
    }

    .blurbTextContainer h4 {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: left;
        /* identical to box height, or 117% */

        letter-spacing: -1.07143px;

        color: #495567;
        }

        .blurbTextContainer p{
            text-align: left;
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }

        .greyLine{
            position: absolute;
            width: 1px;
            height: 568px;
            left: 129px;
            border: 15px solid #E5ECF4;
            z-index: 2;
        }
}

@media only screen and (min-width: 1200px) {




    .moreContainerPlease{
        flex-direction: row;
        margin-left: 165px;
        margin-top: 160px;
    }

    .blurbCard{
        flex-direction: column;
        width: 414px;
        position: relative;
        left: 0px;
    }

    .blurbTextContainer{
        align-items: baseline;
        margin: 0;
        overflow: visible;
    }


    .greyLine{
        position: absolute;
        width: 1068px;
        height: 1px;
        left: 0px;
        border: 15px solid #E5ECF4;
        top: 194px;
        z-index: 2;
    }
}