section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    margin-top: 64px;
}
h2{
    cursor: context-menu;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;

    text-align: center;
    letter-spacing: -1.78571px;

    color: #FFFFFF;
}
/* src\assets\images\careers-location-hero-mobile.jpg */
section {
    background-image: url(../../../../assets/images/careers-locations-hero-tablet.jpg);
}
.whiteCircles{
    display:none;
    width: 243px;
    height: 63px;
}

@media only screen and (min-width:767px) {
    section{
        margin-top: 0;
        justify-content: space-between;
        height: 200px;
    }
    h2{
        position: relative;
        left: 97px;
    }
    .whiteCircles{
        display:block;
        width: 243px;
        height: 63px;
        position: relative;
        right: -36px;
    }
}
@media only screen and (min-width: 1200px) {
    section{

        margin-top: 0;
    }
    .whiteCircles{
        display:block;
        width: 243px;
        height: 63px;
        position: relative;
        right: -36px;
    }
}