
h2 {
    margin-top: 88px;
    color:#FFFFFF;
    font-size: 32px;
    text-align: center;
}


.appStoreSignUp{
    height: 320px;
    background-color: #495567;
    background-repeat: no-repeat;
    position: relative;
    overflow-y: hidden;
    z-index: -1;
}
.appIcons{
    margin-top: 40px;
    display: flex;
    gap: 13px;
    justify-content: center;
    top: 192px;
}

.appStore, .googleStore {
    border-radius: 4px;
}
.circles{
    position: absolute;
    width: 1153px;
    height: 347px;
    left: -1008px;
    bottom: -174px;
    mix-blend-mode: normal;
    opacity: 0.1;
    overflow-y: hidden;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.circles2{
    position: absolute;
    width: 1153px;
    height: 347px;
    left: 212px;
    bottom: -174px;
    mix-blend-mode: normal;
    opacity: 0.1;
    overflow-y: hidden;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.footerNav {
    background-color: #333A44;
    height: 438px;
}

.socialFacebook, .socialInstagram{
    width: 24px;
    height:24px;
}

.socialTwitter{
    height:19.5px;
}

.appStore{
    height: 40px;
    width: 114px;
}

.googleStore{
    height: 40px;
    width: 130px;  
}


.logoContainer{
    display: flex;
    justify-content: center;
}

.logo{
    margin-top: 64px;
}

.logoContainer svg path {
    fill:#FFFFFF;
}
.navLinks{
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.navLink{
    height:25px;
    text-decoration: none;
    color: #939CAA;
    font-size: 15px;
    font-family: 'Space Mono', monospace;
}

.socicalsContainer{
    margin-top: 85px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

@media only screen and (min-width: 767px) {
    .appStoreSignUp{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        margin-top: 62px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
        z-index: -8;
        color: #FFFFFF;
        width: 457px;
    }
    .appIcons{
        margin-bottom: 50px;
        margin-top: 40px;
        overflow-y: hidden;
    }

    .footerNav{
        display: flex;
        height: 96px;
        flex-direction: row;
        align-items: center;
    }
    .navLinks{
        display: flex;
        flex-direction: row;
    }
    .navLinks a:first-child{
        margin-left: 58px;
    }
    .logoContainer{
        margin-top: 0;
        margin-left: 39px;
    }
    .logo{
        margin-top: 0;
    }
    .navLinks{
        margin-top: 0;
    }
    .socicalsContainer{
        margin-left: auto;
        margin-top: 0;
        margin-right: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .appStoreSignUp{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    h2{
        height: 96px;
        margin-top: 0;
        margin-left: 165px;
        text-align: left;
    }

    .appIcons{
        margin-right: 165px;
    }

    .logoContainer{
        margin-left: 168px;
    }
    
    .socicalsContainer{
        margin-right: 165px;
    }
}


